
.header{
  background-color: black;
}
.header2{
  background-color: white
}

h1{
  display: flex;
  justify-content: center;
}

.dynamic-box{
  background-color: #dbd5cd87; 
  padding: 50px; 
  margin-left: auto;
  margin-right: auto;
  min-height: min-content;
  min-width: min-content;
}

.button-p{
  appearance: none;
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 99%);
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  display: inline-block;
  margin: 10px 50px;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  width: 200px; 
  height: 200px; 
  padding: 10px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-p:disabled {
  pointer-events: none;
}

.button-p:hover {
  color: #000000;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-p:active {
  box-shadow: none;
  transform: translateY(0);
}

.main-button-pantry {
  text-align: center;
}

.button-pantry1 {
  text-align: center;
  padding: 20px;
}

.button-pantry2 {
  text-align: center;
  padding: 20px;
}

.epack-button-pantry {
  text-align: center;
  padding: 20px;
}

.pantry-button-pantry {
  text-align: center;
  padding: 20px;
}

.request-epack{
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  text-align: center;
}

.button-request{
  appearance: none;
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  display: inline-block;
  margin: 10px 50px;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  width: 200px; 
  height: 50px; 
  padding: 100px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  margin-left: auto !important;
  margin-right: auto !important;
}

.button-request:disabled {
  pointer-events: none;
}

.button-request:hover {
  color: #000000;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-request:active {
  box-shadow: none;
  transform: translateY(0);
}

.dynamic-box1{
  background-color: #dbd5cd87; 
  padding: 10px; 
  margin-left: auto !important;
  margin-right: auto !important;
  width: 350px;
  margin-bottom: 50px;
}

.notification-table {
  width: 300px !important;
  border-collapse: collapse;
  border: 1px solid #dbd5cd;
  background-color: #ffffff;
  margin-left: auto !important;
  margin-right: auto !important;
}

.notification-table th,
.notification-table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #dbd5cd;
  background-color: #ffffff;
}

.notification-table th {
  background-color: #dbd5cd;
  font-weight: bold;
}