h1{
    display: flex;
    justify-content: center;
}
  
.dynamic-box{
    background-color: #dbd5cd87; 
    padding: 50px; 
    margin-left: 200px;
    margin-right: 200px;
    min-height: max-content;
    min-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
}

p{
    display: flex;
    justify-content: center;
    color: #9f9c97;
}

input[type="text"]::placeholder {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

input[type="text"] {
    margin-top: 15px;
    margin-bottom: 15px; 
    width: 500px;
    height: 50px;
    flex-shrink: 0;
    border: 4px solid #dbd5cd;
    background: #FFF;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.button-submit {
    appearance: none;
    background-color: white;
    border: 3px solid #dbd5cd;
    border-radius: 5px;
    box-sizing: border-box;
    color: #9f9c97;
    display: inline-block;
    margin: 10px 50px;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    width: 100px; 
    height: 50px; 
    line-height: 15px;
    padding: 10px;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    align-self: flex-end; /* Align the button to the bottom of its container */
  }
  
.button-submit:disabled {
    pointer-events: none;
}
  
.button-submit:hover {
    color: #9f9c97;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
.button-submit:active {
    box-shadow: none;
    transform: translateY(0);
}

